$color_1: white;
$color_2: #9356DC;
$color_3: inherit;
$color_4: #008766;
$color_5: #ccc;
$color_6: transparent;
$font-family_1: "Roboto";
$font-family_2: "Shrikhand";
$background-color_1: white;
$background-color_2: #EAEAEA;
$background-color_3: #f8f8f8;
$background-color_4: #F6F6F6;
$background-color_5: #9356DC;
$background-color_6: #99E2D0;
$background-color_7: #353535;

	* {
		font-family: $font-family_1;
		font-size: 25px;
	}
	p {
		font-size: 21px;
		font-family: $font-family_1;
	}
	html {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	body {
		background-color: $background-color_4;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.all {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	/* Loading Screen */
	.loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 9999;
		animation: fadeOut 1s ease 3s forwards;
	  }
	  
	  .loader {
		border: 8px solid #ddd;
		border-top: 8px solid #3498db;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		animation: spin 1s linear infinite;
	  }
	  
	  /* Animation rotation */
	  @keyframes spin {
		to { transform: rotate(360deg); }
	  }
	  
	  /* Disparition du loader après 3s */
	  @keyframes fadeOut {
		to {
		  opacity: 0;
		  visibility: hidden;
		}
	  }
	  
	  /* Landing page cachée au début, visible après le loader */
	  .landing {
		opacity: 0;
		animation: showUp 1s ease 3s forwards;
	  }
	  
	  @keyframes showUp {
		to {
		  opacity: 1;
		}
	  }

	header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $background-color_1;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.localisation {
		display: flex;
		background-color: $background-color_2;
		height: 70px;
		justify-content: center;
		border: 2px solid #ddd;
		border-radius: 5%;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	}
	.explore {
		display: flex;
		flex-direction: column;
		background-color: $background-color_3;
		padding: 50px 20px;
		text-align: center;
		border-radius: 10px;

		button {
			display: flex;
			color: $color_1;
			border-style: none;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
			background: linear-gradient(to bottom,#FF79DA, #9356DC);
			justify-content: center;
			align-items: center;
			border-radius: 25px;
			width: 300px auto;
			height: 60px;
			margin: 20px auto;
		}
	}
	.fonction {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-left: 20px;
	}
	.fonctionall {
		width: 100%;
		margin: 0 auto;
		background-color: white;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.titrefonc {
		padding-left: 50px;
	}
	.step-number {
		position: absolute;
		left: -15px;
		top: 50%;
		transform: translateY(-50%);
	}
	.option {
		display: flex;
		align-items: center;
		background-color: $background-color_4;
		padding: 20px;
		border-radius: 10px;
		width: 80%;
		margin:  0 auto;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
		position: relative;
		gap: 30px;
		i {
			font-size: 22px;
			color: $color_2;
			margin-left: 40px;
		}
		p {
			margin: 0;
			font-size: 16px;
			font-family: $font-family_1;
		}
	}
	.circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $background-color_5;
		color: $color_1;
		font-weight: bold;
	}
	.restaurant {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 90%;
			text-align: start;
			margin-top: 20px;
		}
	}
	a {
		text-decoration: none;
		color: $color_3;
	}
	.badge {
		position: absolute;
		top: 15px;
		right: 15px;
		background-color: $background-color_6;
		color: $color_4;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 10px;
		border-radius: 5px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
	}
	.card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 340px;
		background-color: $background-color_1;
		border-radius: 15px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			display: block;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
		}
	}
	.card-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 15px;
	}
	.card-text {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-left: 20px;
		p {
			margin-top: 0;
			font-size: 14px;
		}
		h2 {
			margin-bottom: 0;
			font-size: 18px;
		}
	}
	.card-link {
		display: block;
		width: 100%;
		height: 100%;
	}
	.heart-container {
		padding-right: 20px;
	}
	.heart-checkbox {
		display: none;
		&:checked {
			+ {
				.heart-icon {
					display: none;
					+ {
						.heart-icon-filled {
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.heart-icon {
		color: $color_5;
		cursor: pointer;
		transition: color 0.3s ease;
	}
	.heart-icon-filled {
		display: none;
		font-size: 25px;
		color: $color_6;
		background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
		-webkit-background-clip: text;
	}
	@media screen and (max-width:640px) {
	footer {
		margin-top: 20px;
		gap: 5px;
		font-size: 16px;
		color: $color_1;
		background-color: $background-color_7;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.footer__content {
			order: 1;
		}

		a {
			display: flex;
			padding-left: 20px;
			align-items: center;
			gap: 8px;
			color: $color_1;
			text-decoration: none;

			p {
				font-size: 15px;
				margin: 0;
			}
		}
	}
	.imgfoot {
		margin: 20px;
		filter: invert(1);
		width: 200px;
		margin-left: 5px;
	}
}
@media screen and (min-width:641px) {
	.explore {
		h1 {
		font-family: $font-family_1;
		font-size: 50px;
	}
	}
	.titre {
		h1 {
			font-family: $font-family_1;
			font-size: 32px;
		}
	}
	.all {
		width: 90%;
	}
	html {
		margin: 0 auto;
	}
	body {
		margin: 0 auto;
		background-color: #F6F6F6;
	}

	.explore {
		.h {
			font-size: 35px;
		}
		button {
			cursor: pointer;
			width: 300px;
			&:hover {
				background: linear-gradient(to bottom,#f0b7e0, #a982da);
				box-shadow: 6px 6px 6px rgba(0.5, 0.5, 0.5, 0.6);
			}
		}
	}
	.fonction {
		display: flex;
		flex-direction: row;
		align-items: center; /* Assure l'alignement vertical */
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
		background-color: rgb(255, 255, 255);
		gap: 30px;
		font-weight: bold;
	}

	.fonctionall {
		width: 100%;
		margin: 0 auto;
		background-color: white;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.titrefonc {
		width: 90%;
		margin: 0 auto;
	}
	.option {
		display: flex;
		justify-content: flex-start; /* Garder l'alignement horizontal */
		width: 90%;
		margin: auto;
	}

	.titre {
		padding-left: 20px;
	}
	.restaurant {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 50px;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-left: 20px;
		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 90%;
			text-align: start;
			margin-top: 20px;
		}
	}

	.heart-icon {
		font-size: 25px;
	}

	.footer {
		background-color: #333;
		color: white;
		margin-top: 40px;
		padding: 25px 30px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	  
		.imgfoot {
		 	filter: invert(1);
			width: 150px;
			margin-right: 50px;
		}
	  
		.footer__content {
			display: flex;
			gap: 25px; 
			align-items: center;
			margin-right: 25px;
	   }
		a {
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
		}
	  
		i {
			margin-right: 5px;
		}
	}
	
}
